<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sinema_bilet_otomasyonu.Properties.Settings.Sinema_Bilet_OtomasyonuConnectionString"
            connectionString="Data Source=DELL;Initial Catalog=Sinema-Bilet-Otomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sinema_bilet_otomasyonu.Properties.Settings.sinemabiletotomasyonuConnectionString"
            connectionString="Data Source=DELL;Initial Catalog=sinemabiletotomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sinema_bilet_otomasyonu.Properties.Settings.sqlInjectionConnectionString"
            connectionString="Data Source=DELL;Initial Catalog=sqlInjection;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>